<!DOCTYPE html>
<html>
  <head>
    <title>Xxx</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to 'aaaaaaLog_out', destroy_customer_session_path, method: :delete %>
      <%= link_to 'Sign_up', new_customer_registration_path %>
      <%= link_to 'Log_in', new_customer_session_path %>
    </header>
    <%= yield %>
  </body>
</html>
